body {
  background-color: #1c142b;
}

div {
  border: 1px solid crimson;
  margin-top: 10px;
  max-width: 80%;
}

/*
p {
  color: azure;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
*/

.page {
  background-color: #1c142b;
  color: azure;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 0;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 30%
}

/*
.subtitle {
  color: #69d8d8;
  font-size: 20px;
  font-weight: bold;
}

.parttitle {
  color: #69d8d8;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}

.codetextbox {
  color: #ce0145;
  font-family: 'Courier New', Courier, monospace;
  background-color: #f5f5dc;
  width: 300px;
  border: 2px solid silver;
  padding: 10px;
  margin: 20px;
  font-weight: bold;
}

.codetext {
  color: #ce0145;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}
*/
a:link {
  color: lightcoral;
}

a:visited {
  color: crimson;
  font-style: italic;
}

a:hover {
  color: aqua;
  font-style: italic;
}

a:active {
  color: aqua;
}

.image_flex-small {
  max-width: 50%;
}

.image_flex-medium {
  max-width: 75%;
}

.image_flex-large {
  max-width: 100%;
}

.imgxl {
  height: 300px;
}

.menu {
  color: aqua;
  font-size: 15px;
  margin: 10px;
}

.title-course {
  color: aqua;
  font-size: 28px;
  font-weight: bold;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.title-sprint {
  color: lightcoral;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.title-topic {
  color: lightcoral;
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.title-lesson {
  color: aqua;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  margin-top: 10px;
}

.title-part {
  color: aqua;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}

.text_body {
  color: azure;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 5px;
  max-width: 98%;
}

.text_code-box {
/*
  color: #ce0145;
  font-family: 'Courier New', Courier, monospace;
  background-color: #f5f5dc;
  border: 2px solid silver;
  padding: 10px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
*/
  color: crimson;
  font-family: 'Courier New', Courier, monospace;
  background-color: cornsilk;
  max-width: 50%;
  border: 2px solid azure;
  padding: 10px;
  margin: 20px;
  font-weight: bold;
}

.text_code-inline {
  color: lightcoral;
  /*font-weight: bold;*/
  font-family: 'Courier New', Courier, monospace;
}

.text_code-inline-comment {
  color: #b68495;
  font-style: italic;
  font-weight: bold;
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
}

.topic_card {
  border: 0px violet solid;
}

.text_image-comment {
  color: #b68495;
  font-size: 13px;
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
}

.card_body {
  margin-top: 10px;
  max-width: 95%;
  align-content: center;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
}